body{
padding:0px;
margin:0px;
background-color:white;
}
#main {
	width:100%;
height:auto;
display:block;
margin:auto;
background-color:white;
}
.box {
width:80%;
height:30px;
float:left;
background-color:blue ;
padding-bottom:11px;
}
.box2 {
	width:20%;
	height:30px;
	background-color:blue;
	float:right;
}
.box3 {
width:20%;
height:120px;
background-color:white;
float:left;
}
.box4 {
width:80%;
height:120px;
background-color:white;
float:right;
}
.box5{
width:100%;
height:1150px;
}
h1{
color:blue;
font-family:Lucida Console;
}
h2{
color:blue;
font-family:Lucida Fax;
}
h3{

color:black;
font-family:Lucida Sans Typewriter;}
h5{
color:gray;
font-family:Lucida Sans Unicode;
}
h4{
color:black;
font-family:Lucida Sans Typewriter;
}
h6{
color:white;
font-family:Microsoft Sans Serif;
}
.box8{
width:100%;
height:100px;
text-align:center;
}
.box9 {
width:100%;
height:100px;
background-color:black;
text-align:center;
}
.header{
display:flex;
}
.header1{
display:flex;
}
.header1 a:hover{
background-color:skyblue;
padding:5px;
}
.header1 a{
color:black;
text-decoration:none;
padding:5px;
}
.header2{
display:flex;
width:80%;
margin:auto;
}.header3{
display:flex;
width:80%;
margin:auto;
}.header4{
display:flex;
}