
body{
padding:0px;
margin:0px;
background-color:green;
}
#main {
	width:100%;
height:auto;
display:block;
margin:auto;
background-color:white;
}
.box {
width:80%;
height:30px;
float:left;
background-color:blue ;
padding-bottom:9px;
}
.box2 {
	width:20%;
	height:30px;
	background-color:blue;
	float:right;
}
.box3 {
width:20%;
height:120px;
background-color:white;
float:left;
}
.box4 {
width:85%;
height:120px;
color:black;
background-color:white;
float:right;
}
.box6{
width:100%;
height:50px;
}
.box7{
width:100%;
height:730px;
}
.box8{
	width:100%;
	height:600px;
}
.box9{
	width:100%;
	height:70px;
}
.box10 h3{
width:100%;
height:40px;
color:white;
background-color:blue;
}
.box12{
	width:100%;
	height:560px;
}
.box11{
width:100%;
height:70px;
background-color:black;
text-align:center;
}
h3{
	color:black;
		font-family:Lucida Sans Unicode;
}
h2{
color:blue;
	font-family:Lucida Fax;
}
h4{
color:white;
	font-family:Lucida Sans;
}
h5{
color:black;
font-family:Lucida Fax;
}
p{
font-family:Oblique;
font-size:5px;
text-align:justify;
line-height:10px;
}
.header{
display:flex;
}
.header1{
display:flex;
}
.header2{
display:flex;
width:80%;
margin:auto;
}
.header3{
display:flex;
width:80%;
margin:auto;
}
.header4{
display:flex;
width:80%;
margin:auto;

}
.header5{
display:flex;
width:80%;
margin:auto;
}
.header6{
display:flex;
width:80%;
margin:auto;
}
.header7{
display:flex;
width:80%;
margin:auto;
}
.header8{
display:flex;
}

.header1 a:hover{
	background-color:skyblue;
	padding:5px;
}
.header1 a{
color:black;
text-decoration:none;
padding:3px;
}