body{
padding:0px;
margin:0px;
background-color:white;
}
#main {
	width:100%;
height:auto;
display:block;
margin:auto;
background-color:white;
}
.box {
width:80%;
height:30px;
float:left;
background-color:blue ;
padding-bottom:11px;
}
.box2 {
	width:20%;
	height:30px;
	background-color:blue;
	float:right;
}
.box3 {
width:25%;
height:120px;
background-color:white;
float:left;
}
.box4 {
width:75%;
height:120px;
background-color:white;
float:right;
}.box5{
width:100%;
height:50px;
background-color:#2b2b2b;
color:black;
float:left;
}
h2{
color:black;
padding-bottom:2px;
font-family:Lucida Console;
padding-bottom:20px;
}
h1{
text-align:center;
color:blue;
font-family:Lucida Fax;
padding-bottom:2px;
}
.box6 {
color:blue;
width:80%;
height:100px;
color:blue;
text-align:center;
background-color:white;
float:left;
}
.box7 {
width:20%;
text-align:center;
height:20px;
padding-bottom:25px;        
background-color:blue;
}
.box8{
width:20%;
height:200px;
float:left;
}	
.box9{
width:20%;
height:200px;
float:left;
}	
.box10{
width:20%;
height:200px;
float:left;
}	
.box11{
width:20%;
height:200px;
float:left;
}
.box12{
width:20%;
height:700px;
}
h4{
color:white;
font-family:Lucida Sans Typewriterv;
}	
.header{
display:flex;
}
.header1{
display:flex;
}
.header2{
display:flex;
}
.header2 a{
color:black;
text-decoration:none;
padding:3px;
}
.header2 a:hover{
background-color:green;
padding:5px;
}
.header2  a:hover{
background-color:skyblue;
}
.header3{
display:flex;
}
.header4{
display:flex;
width:80%;
margin:auto;
}
.header5{
display:flex;
width:80%;
margin:auto;
}
.box13{
width:100%;
height:50px;
background-color:black;
text-align:center3
}
.header8{
display:flex;
}
h5{
	text-align:center;
color:white;
}