body{
	background-color:orange;
	padding:0px;
	margin:0px;
}
#main {
width:80%;
height:900px;
padding:0px;
margin:auto;
background-color:white;
}
.first{
 width:100%;
 height:50px;
 background-color:yellow;
 padding:10px;
 } 
 .second{
 width:100%;
 height:200px;
 background-color:pink;
 padding:0px;
 margin:0px;
 }
 .third{
 width:100%;
 height:200px;
 background-color:green;
 padding :5px;
 margin:0px;
 overflow:hidden;
 }
  .third h2{
 font-family:Microsoft Sans Serif;
 color:yellow;
 padding-top:80px; 
 }
 .fourth{
 width:100%;
 height:100px;
 background-color:pink;
 margin:0px;
 overflow:hidden;
 padding-bottom:150px;
 }
 .five{
 width:100%;
 height:100px;
 background-color:black;
 overflow:hidden;
 margin:0px;
 }
 .six{
 width:100%;
 height:50px;
 background-color:yellow;
 overflow:hidden; 
 margin:0px;
 padding-bottom:10px;
 }
 .seven{
 width:100%;
 height:100px;
 background-color:gray;
 overflow:hidden;
 margin:0px;
 }
 h1{
 font-family:Bold Oblique;
 text-align:center;
 color:red;
 padding-top:0px;
 overflow:hidden;
 }

 p{
 font-size:18px;
 color:orange;
 text-align:justify;
 font-family:align;
 overflow:hidden;
 }
 h3{
font-family:Lucida Sans Typewriter;
padding-top:0px;
 color:red;
 padding-top:13px;
 overflow:hidden;
 }