@import url(https://fonts.googleapis.com/css2?family=Rubik);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);
:root {
 --bg-color-1:#DC5034;
 --bg-color-2:#585A60;
 --color-1:#11141C;
 --font-family-1:'Rubik',
 sans-serif;
 --font-family-2:'Bebas Neue',
 cursive;
 --font-family-3:'Source Sans Pro',
 sans-serif;
 --font-300:300;
 --font-400:400;
 --font-500:500;
 --font-600:600;
 --font-400:400;
 --transform-1-postive:skewX(20deg);
 --transform-1-neg:skewX(-20deg);
 --transform-2-postive:skewX(15deg);
 --transform-2-neg:skewX(-15deg)
}
.d-flex {
 display:-webkit-box!important;
 display:-ms-flexbox!important;
 display:flex!important
}
.align-items-center {
 -webkit-box-align:center!important;
 -ms-flex-align:center!important;
 align-items:center!important
}
.justify-content-between {
 -webkit-box-pack:justify!important;
 -ms-flex-pack:justify!important;
 justify-content:space-between!important
}
.hide-web,
.u-hide-web {
 display:none!important
}
.hideOnMob,
.showOnMob {
 display:none
}
.sm-flex {
 display:flex
}
.sm-justify-between {
 justify-content:space-between
}
.t-ct {
 text-align:center
}
.pt-stats__wrap {
 display:flex;
 justify-content:space-between;
 margin-block-end:40px
}
.pt-stats__title {
 text-align:left;
 font-family:Rubik,sans-serif;
 font-weight:600;
 font-style:italic;
 font-size:28px;
 line-height:33px;
 margin-block:25px
}
.pt-pos__number,
.pt-pos__tname {
 font-family:'Bebas Neue';
 color:#11141c
}
.pt-stats__box {
 position:relative;
 width:clamp(280px ,100% ,280px);
 height:410px;
 box-sizing:border-box;
 padding:16px 10px;
 z-index:0;
}
.pt-stats__box_wrap{
	 position:relative;
	 padding:16px 10px;
	 width:100%;
	 height:100%;
}

.pt-stats__box_wrap::after { position: absolute; content: ''; left: 0; right: 0; bottom: 0; top: 0;
 background:#fff;
 border:1px solid #d9d9d9;
 border-radius:12.0942px;
 transition: all 0.3s ease-in-out; z-index: -1; }
.pt-stats__box_wrap:hover::after{ transform: scale(1.03);
box-shadow: 0px 0px 13px rgba(0,0,0,0.2); }
.pt-stats__box_wrap:not(:last-child) {
 margin-inline-end:20px
}
.pt-position {
 justify-content:start;
 align-items:start
}
.pt-pos__number {
 position:relative;
 z-index:1;
 font-weight:400;
 font-size:65px;
 line-height:65px
}
.pt-pos__number .ot-border {
 position:absolute;
 z-index:-1;
 top:-3px;
 left:3px;
 -webkit-text-fill-color:transparent;
 -webkit-text-stroke:1.2px #C4C4C4
}
.pt-pos__tname {
 font-weight:400;
 font-size:22px;
 line-height:24px;
 margin-left:10px; text-align: left;
 transform:translateY(4px)
}
.pt-team__logo {
 border-bottom:1px solid #d9d9d9;
 margin-block-end:20px;
 padding-block-end:10px;
 height:120px;
 display:flex;
 justify-content:center;
 align-items:center
}
.pt-team__logo img {
 max-height:100px
}
.pt-info {
 justify-content:space-evenly;
 margin-block-end:30px
}
.pt-info__stats {
 flex-direction:column;
 font-family:Rubik,sans-serif;
 font-weight:400;
 font-size:12px;
 line-height:14px;
 color:#7f8184
}
.pt-stats_number {
 font-family:'Bebas Neue';
 font-weight:400;
 font-size:24px;
 line-height:29px;
 color:#11141c
}
.pt-recent__info,
.pt-recent__title {
 font-weight:500;
 line-height:18px;
 font-family:Rubik,sans-serif
}
.pt-stats-G {
 color:#2a841b
}
.pt-recent__form {
 margin-inline:10px
}
.pt-recent__title {
 font-size:16px;
 color:#11141c;
 margin-block-end:10px;
 text-align:left
}
.pt-G {
 color:#2a841b;
 border:1px solid #2a841b
}
.pt-R {
 color:#d34646;
 border:1px solid #d34646
}
.pt-recent__info {
 display:flex;
 justify-content:center;
 align-items:center;
 width:28px;
 height:28px;
 border-radius:50%;
 text-transform:uppercase;
 font-size:15px;
 text-align:center
}
.pt-recent__info:not(:last-child) {
 margin-inline-end:8px
}
.pt-more-btn {
 text-align:center;
 background:url(../images/floral-line.png) center no-repeat;
 padding:10px 0
}
.pt-more-btn .pt-more-btn__link {
 position:relative;
 display:inline-block;
 transform:var(--transform-1-neg)
}
.pt-more-btn .pt-more-btn__link a {
 position:relative;
 cursor:pointer;
 display:inline-block;
 background:#1d2e71;
 border-radius:4px;
 padding:12px 30px;
 color:#fff;
 font-family:Rubik,sans-serif;
 font-weight:600;
 font-size:16px;
 line-height:19px;
 text-align:center
}
.pt-more-btn .pt-more-btn__link a svg {
 position:absolute;
 opacity:0;
 margin-top:2px;
 top:13px;
 left:137px;
 transition:.5s;
 width:20px;
 transform:var(--transform-1-postive)
}
.pt-more-btn .pt-more-btn__link a svg path {
 fill:#ffffff
}
.pt-more-btn .pt-more-btn__link a:hover svg {
 opacity:1;
 left:161px
}
.pt-more-btn .pt-more-btn__link:after {
 content:'';
 position:absolute;
 top:-5px;
 left:5px;
 width:98%;
 height:100%;
 border:2px solid;
 -webkit-transition:.4s;
 -moz-transition:.4s;
 transition:.4s;
 border-radius:3px;
 padding:0;
 box-sizing:unset;
 z-index:-1
}
.SMshortstandingsWidget .slick-prev,.SMshortstandingsWidget .slick-next{font-size:0;line-height:0;position:absolute;top:-42px;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent}
.SMshortstandingsWidget .slick-prev:hover,.SMshortstandingsWidget .slick-prev:focus,.SMshortstandingsWidget .slick-next:hover,.SMshortstandingsWidget .slick-next:focus{color:transparent;outline:none;background:transparent}
.SMshortstandingsWidget .slick-prev:hover:before,.SMshortstandingsWidget .slick-prev:focus:before,.SMshortstandingsWidget .slick-next:hover:before,.SMshortstandingsWidget .slick-next:focus:before{opacity:1}
.SMshortstandingsWidget .slick-prev.slick-disabled:before,.SMshortstandingsWidget .slick-next.slick-disabled:before{opacity:.25}
.SMshortstandingsWidget .slick-prev:before,.SMshortstandingsWidget .slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.SMshortstandingsWidget .slick-slider button.slick-prev{right: 70px;
    top: -61px;rotate: 180deg;    left: unset; }
[dir='rtl'] .slick-prev{right:-25px;left:auto}
.SMshortstandingsWidget .slick-prev:before{content:url(../images/pra.png);}
[dir='rtl'] .slick-prev:before{content:'→'}
.SMshortstandingsWidget .slick-next{right:40px !important; }
[dir='rtl'] .slick-next{right:auto;left:-25px;}
.SMshortstandingsWidget .slick-next:before{content:url(../images/pra.png) !important; }
[dir='rtl'] .slick-next:before{content:'←'}

.standings_qualified {
  background-position: center center;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(images/qualified.png);
  background-size: contain;
  margin-left: auto;
  margin-top: 7px;
}

.pt-stats__wrap .standings_qualified {
 background-position:center center;
 width:24px;
 height:24px;
 display:inline-block;
 background-repeat:no-repeat;
 background-image:url(images/qualified-home.png);
 background-size:24px;
 margin-left:auto;
 margin-top: 7px;
 position: absolute;
left: 5px;
bottom: -24px;
}

.pt-stats__wrap .qa-mob { display: none; }
@media (max-width:52.49em) {
 .u-hide-tablet {
  display:none
 }
 .u-show-tablet {
  display:block
 }
}
@media(max-width:768px) {
 .pt-stats__wrap {
  padding-top:1%;
  display:grid;
  grid-auto-flow:column;
  overflow-x:auto;
  white-space:nowrap;
  scroll-snap-type:x proximity;
  scrollbar-width:none;
  margin-block-end:25px
 }
 .pt-stats__title {
  font-size:20px;
  line-height:26px;
  margin-block-end:0
 }
 .pt-stats__box {
  width:300px;
  height:auto;
  padding:0;
  padding-top: 25px;
  padding-right: 15px;
 }
 .pt-position {
  padding:0 10px;
  margin-bottom:20px;
  justify-content:start;
  align-items:center;
  border-bottom:1px solid #d9d9d9
 }
 .pt-pos__number {
  font-size:54px;
  line-height:54px;
  transform:translateY(10px)
 }
 .pt-pos__number .ot-border {
  top:-2px
 }
 .pt-pos__tname {
  font-size:20px
 }
 .pt-team__logo {
  position:absolute;
  right:0;
  top:-21px;
  padding:0;
  margin:0;
  border:0;
  height:auto
 }
 .pt-team__logo img {
  width:auto;
  max-height:60px;
  max-width:80px
 }
 .pt-recent__form {
  margin-inline:18px;
  padding-block-end:15px
 }
 .pt-info {
  margin-inline:18px;
  margin-block-end:20px;
  justify-content:space-between
 }
 .pt-recent__title {
  margin-block-end:10px;
  font-size:14px
 }
 .pt-recent__info {
  width:25px;
  height:25px;
  font-size:13px
 }
 .pt-recent__info:not(:last-child) {
  margin-inline-end:13px
 }
 .pt-more-btn {
  background-size:376px
 }
 .pt-more-btn a.pt-more-btn__link {
  padding:10px 30px
 }
 .pt-more-btn a.pt-more-btn__link i {
  font-size:15px
 }
.pt-stats__box_wrap:hover::after{ transform: none; box-shadow: none; }
.pt-stats__wrap .pt-position .standings_qualified { display: none; }
.pt-stats__wrap .standings_qualified.qa-mob { display: block; right: 14px; bottom: 14px; }
}
@media (min-width:40em) and (max-width:64.0525em) {
 .u-hide-mobile {
  display:none
 }
 .u-show-mobile {
  display:block!important
 }
}

@media (max-width: 380px) {
	.pt-more-btn { background-size: 350px; }
}
