/* =========================================================================================
@Description: IPL - StyleSheet for Points Table
@Version: 1.0, 2023
============================================================================================ */
html { font-size: 62.5%; }
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.u-hide-web, .hide-web { display: none !important; }
.showOnMob { display: none; }
.hideOnMob { display: none; }

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --bg-color-1: #DC5034;
  --bg-color-2: #585A60;
  --color-1: #11141C;
  --font-family-1: 'Rubik', sans-serif;
  --font-family-2: 'Bebas Neue', cursive;
  --font-family-3: 'Source Sans Pro', sans-serif;
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-900: 900;
  --transform-1-postive: skewX(20deg);
  --transform-1-neg: skewX(-20deg);
  --transform-2-postive: skewX(15deg);
  --transform-2-neg: skewX(-15deg);
}
.sm-flex { display: flex; }
.sm-justify-between { justify-content: space-between; }
.t-ct { text-align: center; }
.SMrecentmatchesWidget{
    width: 100%;
    display: block;
    background-image: url(../images/result_widget_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    float: left;
}
.SMrecentmatchesWidget::before{
    content: ' ';
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(19.7deg, rgba(16, 23, 43, 0) 9.02%, #10172B 115.27%);
    position: absolute;
    left: 0;
    top: 0;
}
.SMrecentmatchesWidget::after{
    content: ' ';
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(6.09deg, #10172B 12.89%, rgba(16, 23, 43, 0) 140.36%);
    position: absolute;
    left: 0;
    bottom: 0;
}
.SMResultSliderWidget .slick-list .slick-track{
	    /*transform: translate3d(0px, 0px, 0px) !important;*/
}
.SMResultSliderWidget { position: relative; padding: 30px 20px 70px;float: left;width: 100%;    z-index: 1;}
.rs-title { text-align: center; margin-block-end: 35px;  }
.rs-title span { color: #ffffff;
    display: inline-block;
    font-family: var(--font-family-2);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 42px; line-height: 42px;
    border: 2px solid #ffffff;
    padding: 8px 20px 6px; }
.rs-wrap { cursor: pointer;  width: 100%;min-width: 300px; margin: 0 auto; position: relative; background: #FFFFFF; border-radius: 20px; padding-block: 20px 50px; transition: all 0.5s;  min-height: 440px;}
.rs-count { position: absolute; top: -8px; background: #3E3E3E; padding: 5px 15px; font-family: var(--font-family-1); transition: all 0.5s;
font-style: normal; font-weight: var(--font-500); font-size: 15px; line-height: 17px; color: #FFFFFF; transform: var(--transform-1-neg); }
.rs-count .rs-count__num { font-style: normal; transform: var(--transform-1-postive); }

.rs-wrap:hover .rs-count { background:#DC5034; transition: all 0.5s;}
.rs-sc__box { align-items: center; padding: 20px 15px 20px; border-bottom: 1px solid #cccccc; }
.rs-tm { flex: 0.6; }
.rs-vs { flex: 0.2; text-align: center; }
.rs-tm__right { justify-content: end;}
.rs-tm__left .rs-tm__score { margin-inline-start: 12px; width: 100%; }
.rs-tm__right .rs-tm__score { margin-inline-end: 12px; text-align: right;width: 100%; }
.rs-tm__logo img { width: 45px; }
.rs-tm__run { font-family: var(--font-family-2); font-size: 32px; line-height: 34px; font-weight: 400; color: var(--color-1); text-transform: uppercase;}
.rs-tm__over {font-size: 14px; line-height: 18px;color: #777777;font-weight: var(--font-400);font-family: var(--font-family-1);text-transform: capitalize;}
.rs-vs svg { width: 37px; height: 37px; border: 1px solid #D9D9D9; border-radius: 50%; }

.rs-cmd, .rs-vn { text-align: center; padding-block: 15px; margin-inline: 30px;  border-bottom: 1px solid #cccccc;  }
.rs-cmd { font-family: var(--font-family-2); text-transform: uppercase; font-weight: 400; font-size: 28px; line-height: 28px; color: #1D2E71; }

.rs-vn { font-family: var(--font-family-1); font-size: 14px; line-height: 16px; color: rgba(17, 20, 28, 1); }
.rs-vn__gd-name { font-weight: 500; margin-block-end: 3px; }
.rs-vn__time { font-weight: 400; font-size: 12px; line-height: 18px; color: rgba(17, 20, 28, 0.75); }

.ply-mt-wrap { padding-block: 10px 0; justify-content: center; align-items: center; }
.ply-mt__pic {width: 90px;height: 90px; border-radius: 50%;overflow: hidden; margin-inline-end: 15px; }

.ply-mt__info { font-family: var(--font-family-1);color: #1D1D1D; }

.ply-mt__name { font-style: italic;font-weight: 700;font-size: 16px;line-height: 19px; margin-block-end: 5px }
.ply-mt__crs { font-size: 14px; line-height: 18px; margin-block-end: 10px  }
.ply-mt__crs span:not(:last-child) { margin-inline-end: 20px; }

.ply-mt__tag { display: flex; align-items: center; position: relative; color: #DC5034; font-family: var(--font-family-1); 
font-size: 14px; line-height: 18px; font-weight: 500; }
.ply-mt__tag svg { position: absolute; left: 0; width: 182px; height: 23px; }

.ply-more-btn { position: absolute; left: 0; right: 0; bottom: -25px; margin: 0 auto; text-align: center; transition: all 3s ease-in-out; }
.ply-more-btn .ply-more-btn__link { padding: 12px 0; display: inline-block; transform: var(--transform-1-neg); }
.ply-more-btn .ply-more-btn__link a { transition: all 0.5s; position: relative;  text-decoration: none; font-family: var(--font-family-1); font-size: 18px;line-height: 20px; font-style: normal;color: #ffffff;transform: var(--transform-1-postive);z-index: 999;
position: relative;background: #DC5034;padding: 12px 40px;border-radius: 4px; font-weight: 600; }
.ply-more-btn .ply-more-btn__link:after { content: '';
    position: absolute; top: -5px;
    left: 9px; width: 98%; height: 100%; 
    border: 1px solid rgb(255,255,255);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 3px; padding: 10px 0; }
.ply-more-btn .ply-more-btn__link a svg { position: absolute;  position: absolute; opacity: 0; margin-top: 2px; top: 14px; left: 180px;transition: all 0.5s; width: 20px; transform: var(--transform-1-postive); }
.ply-more-btn .ply-more-btn__link a svg path { fill: #ffffff; }
.ply-more-btn .ply-more-btn__link a:hover svg {  opacity: 1; left: 220px; }

.see-more { position: absolute;right: 13%;top: 6.5%; border: 1px solid #D9D9D9; padding: 5px 12px; border-radius: 5px; }
.see-more a { color: #fff; text-transform: capitalize; text-decoration: none; font-family: var(--font-family-1); font-size: 12px; font-weight: 300; }

/*Slick Slider*/
/* .slick-loading .slick-list { background: #fff url('./ajax-loader.gif') center center no-repeat; } */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
.SMResultSliderWidget .slider{width:50%;margin:100px auto}
.SMResultSliderWidget .slick-slide{margin:0 20px; transition:all ease-in-out .3s;opacity:1; transform: scale(0.8);}
.SMResultSliderWidget .slick-prev:before,.SMResultSliderWidget .slick-next:before{color:#000}
.SMResultSliderWidget .slick-active{ /*pointer-events: none;*/}
.SMResultSliderWidget .slick-slide .ply-more-btn { display: none; }
.SMResultSliderWidget .slick-slide.slick-current .ply-more-btn { display: block; }
.SMResultSliderWidget .slick-current{opacity:1; transform: scale(1); pointer-events: all; transition: all ease-in-out .3s; }

/* Slider */
.SMResultSliderWidget .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.SMResultSliderWidget .rs-slick-list{position:relative;display:block;margin:0;padding:0}
.SMResultSliderWidget .rs-slick-list:focus{outline:none}
.SMResultSliderWidget .rs-slick-list.dragging{cursor:pointer;cursor:hand}
.SMResultSliderWidget .slick-slider .slick-track,.SMResultSliderWidget .slick-slider .SMResultSliderWidget{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.SMResultSliderWidget .slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto; padding-block: 25px; }
.SMResultSliderWidget .slick-track:before,.slick-track:after{display:table;content:''}
.SMResultSliderWidget .slick-track:after{clear:both}
.SMResultSliderWidget .slick-loading .slick-track{visibility:hidden}
.SMResultSliderWidget .slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.SMResultSliderWidget .slick-slide img{display:block;max-width: 100%; }
.SMResultSliderWidget .slick-slide.slick-loading img{display:none}
.SMResultSliderWidget .slick-slide.dragging img{pointer-events:none}
.SMResultSliderWidget .slick-initialized .slick-slide{display:block}
.SMResultSliderWidget .slick-loading .slick-slide{visibility:hidden}
.SMResultSliderWidget .slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.SMResultSliderWidget .slick-arrow.slick-hidden{display:none}

/* Arrows */
.SMResultSliderWidget .slick-prev,.SMResultSliderWidget .slick-next{font-size:0;line-height:0;position:absolute;top:-64px;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent}
.SMResultSliderWidget .slick-prev:hover,.SMResultSliderWidget .slick-prev:focus,.SMResultSliderWidget .slick-next:hover,.SMResultSliderWidget .slick-next:focus{color:transparent;outline:none;background:transparent}
.SMResultSliderWidget .slick-prev:hover:before,.SMResultSliderWidget .slick-prev:focus:before,.SMResultSliderWidget .slick-next:hover:before,.SMResultSliderWidget .slick-next:focus:before{opacity:1}
.SMResultSliderWidget .slick-prev.slick-disabled:before,.SMResultSliderWidget .slick-next.slick-disabled:before{opacity:.25}
.SMResultSliderWidget .slick-prev:before,.SMResultSliderWidget .slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.SMResultSliderWidget .slick-slider button.slick-prev{right: 70px;
    top: -83px;rotate: 180deg;    left: unset; }
[dir='rtl'] .slick-prev{right:-25px;left:auto}
.SMResultSliderWidget .slick-prev:before{content:url(../images/ra.png);}
[dir='rtl'] .slick-prev:before{content:'→'}
.SMResultSliderWidget .slick-next{right:40px !important; }
[dir='rtl'] .slick-next{right:auto;left:-25px;}
.SMResultSliderWidget .slick-next:before{content:url(../images/ra.png) !important; }
[dir='rtl'] .slick-next:before{content:'←'}

/* Dots */
.SMResultSliderWidget .slick-dotted.slick-slider{margin-bottom:30px}
.SMResultSliderWidget .slick-dots{position:absolute;bottom:-50px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}
.SMResultSliderWidget .slick-dots li{position:relative;display:inline-block;width:8px;height:8px;margin:0 4px;padding:0;cursor:pointer}
.SMResultSliderWidget .slick-dots li button{ padding: 4px; font-size:0; opacity: 0.5; border-radius: 50%; line-height:0;display:block;width:8px;height:8px;cursor:pointer;color:transparent;border:0;outline:none;background: #ffffff; }
.SMResultSliderWidget .slick-dots li button:hover,.slick-dots li button:focus{outline:none}
.SMResultSliderWidget .slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}
.SMResultSliderWidget .slick-dots li button:before{display: none; font-family:'slick';font-size:32px;line-height:20px;position:absolute;top:0;left:0;width:10px;height:10px;content:'•';text-align:center;opacity:.35;color:#ffffff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.SMResultSliderWidget .slick-dots li.slick-active button:before{opacity:.75;color:#ffffff; width: 20px; }
.SMResultSliderWidget .slick-dots li.slick-active { width: 25px;height:8px; }
.SMResultSliderWidget .slick-dots li.slick-active button { width: 25px;height:8px; border-radius: 10px; opacity: 1; }

/**** Media Query ************************/
/****************************************/
@media(max-width: 1650px) {
	
}
@media(max-width: 1450px) { 
  .rs-tm__over { font-size: 13px; }
	.rs-tm__run { font-size: 32px; line-height: 32px; }
	.rs-cmd { font-size: 28px; line-height: 28px; }
	.see-more { right: 220px;top: 45px; }
}
/* 1299 */
@media (max-width:81.24em) {
}
@media (max-width: 1200px)
{
	.rs-tm__over { font-size: 12px; }
	.rs-tm__run { font-size: 30px; line-height: 30px; }
	.rs-cmd { font-size: 26px; line-height: 26px; }
	.see-more { right: 12%; top: 4%; }
}
/* 1024 */
@media (max-width:64.0525em) {
}

/* 839 */
@media (max-width:840px) {
.u-hide-tablet { display: none; }
.u-show-tablet { display: block; }

.SMResultSliderWidget .slick-slide { opacity: 1; transform: scale(1); }
.SMResultSliderWidget .slick-slide .ply-more-btn { display: block; }
}

@media(max-width: 768px) { 
.see-more { display: none; }
.rs-wrap { width: 340px; }
.rs-wrap{ min-height: 360px;}
}
/* 640 to 1024 */
@media (min-width:40em) and (max-width:64.0525em) { 
.u-hide-mobile { display: none; }
.u-show-mobile { display: block !important; }
}

/* 640 */
@media (max-width:40em) {
	.SMResultSliderWidget { background: url(../images/floral-line.png) no-repeat center 68%/ 390px; }
	.rs-wrap { width: 320px; }
	.rs-sc__box { padding: 15px 15px 15px; }
	.rs-tm__run { font-size: 18px; line-height: 18px; }
	.rs-tm__over { font-size: 10px; line-height: 12px; }
	.rs-tm__logo img { width: 30px; }
	.rs-tm__right .rs-tm__score{margin-inline-end: 6px;}
	.rs-tm__left .rs-tm__score {margin-inline-start: 6px;}
	.rs-cmd { font-size:22px; line-height: 24px; }
	.rs-vn, .ply-mt__name, .ply-mt__crs, .ply-mt__tag { font-size: 12px; line-height: 14px; }
	.ply-mt__tag svg { width: 140px; }
	.rs-vn__gd-name { margin-block-end: 2px; }
	.rs-vn__time { font-size: 11px; line-height: 14px; }
	.ply-mt__pic { width: 65px; height: 65px; margin-inline-end: 5px; }
	.ply-mt__pic img { width: 65px; }
	.ply-more-btn .ply-more-btn__link a { font-size: 14px; line-height: 16px;  padding: 10px 20px;}
	.ply-more-btn .ply-more-btn__link:after { top:-9px; left:7px;}
	.ply-mt__crs { display: none; }
	.SMResultSliderWidget .slick-dotted.slick-slider { margin: 0; }
	.SMResultSliderWidget .slick-dots { bottom: -30px; }
	.rs-vs svg { width: 28px; height: 28px; }
	.ply-more-btn .ply-more-btn__link a:hover svg { display: none; }
	.rs-count { font-size: 12px; line-height: 16px; }
}

/* 639 */
@media (max-width:39.99em) {
}
@media (max-width:480px){
	.rs-wrap { width: 320px; }
}
/* 399 */
@media (max-width:24.99em) {
	.rs-wrap{ min-width: auto; width: auto;  min-height: 360px; }
}
/* 399 */
@media (max-width:360px) {
	.SMResultSliderWidget { background-size: 360px; }
}
